In [1]:
import pandas as pd
import numpy as np
import matplotlib as ml
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [2]:
house_df = pd.read_csv("WestRoxbury.csv")

In [3]:
house_df.head()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,NaN
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,NaN
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,NaN
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,NaN

In [4]:
house_df.iloc[4][0:]

TOTAL VALUE     331.5
TAX              4170
LOT SQFT         5000
YR BUILT         1910
GROSS AREA       2370
LIVING AREA      1438
FLOORS            2.0
ROOMS               7
BEDROOMS            3
FULL BATH           2
HALF BATH           0
KITCHEN             1
FIREPLACE           0
REMODEL           NaN
Name: 4, dtype: object

In [5]:
house_df.describe()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

In [6]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802 entries, 0 to 5801
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TOTAL VALUE   5802 non-null   float64
 1   TAX           5802 non-null   int64
 2   LOT SQFT      5802 non-null   int64
 3   YR BUILT      5802 non-null   int64
 4   GROSS AREA    5802 non-null   int64
 5   LIVING AREA   5802 non-null   int64
 6   FLOORS        5802 non-null   float64
 7   ROOMS         5802 non-null   int64
 8   BEDROOMS      5802 non-null   int64
 9   FULL BATH     5802 non-null   int64
 10  HALF BATH     5802 non-null   int64
 11  KITCHEN       5802 non-null   int64
 12  FIREPLACE     5802 non-null   int64
 13  REMODEL       1456 non-null   object
dtypes: float64(2), int64(11), object(1)
memory usage: 634.7+ KB

In [11]:
total_mean = house_df['TAX'].mean()

In [12]:
print(total_mean)

4939.485866942434

In [14]:
total_rows = len(house_df["TAX"])
print(total_rows)

5802

In [15]:
house_df.shape

(5802, 14)

In [23]:
house_df.sample(5)

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
1947,448.8,5645,10585,1950,4770,1806,1.0,8,3,3,0,2,1,Old
936,351.4,4420,10690,1950,3539,1625,1.0,6,3,1,0,1,1,NaN
4243,478.9,6024,8528,1925,3630,2055,2.0,8,3,1,1,1,1,Old
3442,559.0,7032,5532,1892,4298,2525,2.5,9,5,4,1,1,1,Recent
2170,422.2,5311,6777,1890,3535,2053,2.5,7,3,1,1,1,1,NaN

In [20]:
weights = [0.9 if rooms > 10 else 0.01 for rooms in house_df.ROOMS] # This is craeting a list of weights

# This is a good practice to do in data mining as it will help 
#u to not miss any data that might be an outlier.
house_df.sample(5, weights = weights)

#This is used in order to get that data that is likely to cause the algo crash or might increase the error rate bcz these are kind of outliers 
#that are there in the data by doing this we are doing over/under sampling as this it will increase the chance (0.9 = 90%) of showing 
#of rooms with more than 10 rooms that might be omitted while training the data and can cause errors afterwards.

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
2696,285.7,3594,7475,1955,1882,861,1.0,6,3,1,1,1,0,NaN
4657,791.6,9958,7629,1890,6321,3521,2.0,12,6,4,1,1,2,Recent
3871,576.1,7247,6501,1920,5197,3636,3.0,12,4,3,1,2,1,Old
3318,775.5,9755,13750,1900,6633,3906,2.0,12,7,1,2,1,0,Recent
3182,718.2,9034,19180,1918,6565,3564,2.5,11,4,2,2,1,0,NaN

In [25]:
weights = [] # empty list

for rooms in house_df.ROOMS:
    if rooms > 10:
        weights.append(0.9)
    else:
        weights.append(0.01)


house_df.sample(5, weights = weights)

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
2494,660.0,8302,13650,1924,5192,2640,2.0,13,7,2,1,1,2,Recent
2909,730.1,9184,8631,1907,5722,3250,2.0,12,5,2,1,1,2,NaN
406,332.4,4181,7889,1960,3588,1939,1.5,8,4,2,0,1,1,NaN
4582,520.9,6552,8297,1880,3716,2344,2.0,7,4,1,0,1,1,NaN
4151,996.9,12541,10050,2006,5392,4375,2.0,11,4,4,0,1,1,NaN

In [52]:
house_df.columns

Index(['TOTAL VALUE ', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL _Recent'],
      dtype='object')

In [30]:
indexes = []

for i in house_df.head():
    indexes.append(house_df[i].dtype)

print(indexes)

#Can show all the indexes's dtype there.

[dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('O')]

In [51]:
# To convert a varibale into Categorical Variable
house_df.REMODEL = house_df.REMODEL.astype("category")
house_df.REMODEL.cat.categories

AttributeError: 'DataFrame' object has no attribute 'REMODEL'

In [39]:
house_df.REMODEL.dtype

CategoricalDtype(categories=['Old', 'Recent'], ordered=False, categories_dtype=object)

In [49]:
indexes = []

for i in house_df.head():
    indexes.append(house_df[i].dtype)

print(indexes)

[dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('bool')]

In [42]:
house_df = pd.get_dummies(house_df, prefix_sep=" _", drop_first= True)

In [50]:
house_df.columns

Index(['TOTAL VALUE ', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL _Recent'],
      dtype='object')

In [44]:
house_df.loc[:, 'REMODEL_Old':'REMODEL _Recent'].head(5)

KeyError: 'REMODEL_Old'

In [53]:
print(house_df['REMODEL _Recent'].unique())

[False  True]

In [55]:
house_df = house_df.rename(columns={"REMODEL _Recent" : "REMODEL_New"})

In [57]:
house_df = house_df.astype({'REMODEL_New': 'int'})

In [59]:
indexes = []

for i in house_df.head():
    indexes.append(house_df[i].dtype)

print(indexes)

[dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64')]

In [60]:
house_df.REMODEL_New

0       0
1       1
2       0
3       0
4       0
       ..
5797    1
5798    0
5799    0
5800    0
5801    0
Name: REMODEL_New, Length: 5802, dtype: int64

In [69]:
# TO FIND THE MISSING VALUES

missingRows = house_df.sample(10).index
house_df.loc[missingRows, "BEDROOMS"] = np.nan

print(house_df['BEDROOMS'].isna().sum())  # Should show 10 missing values

5802

In [67]:
print("the number of rows after removing rows with missing values after setting to NAN: ", house_df.BEDROOMS.count())

the number of rows after removing rows with missing values after setting to NAN:  0

In [68]:
# Remove rows with missing values 
reduced_df = house_df.dropna()
print("the number of rows after removing rows with missing values :", len(reduced_df))

the number of rows after removing rows with missing values : 0

In [70]:
# Check the data type of BEDROOMS column
print(house_df['BEDROOMS'].dtype)

# Look at the first few rows of just the BEDROOMS column
print(house_df['BEDROOMS'].head())

# Look at the unique values in BEDROOMS
print(house_df['BEDROOMS'].unique())

float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: BEDROOMS, dtype: float64
[nan]

In [71]:
import numpy as np

# Create 10 missing values
missingRows = house_df.sample(10).index
house_df.loc[missingRows, 'BEDROOMS'] = np.nan

# Verify the number of missing values
print(house_df['BEDROOMS'].isna().sum())  # Should now show 10

5802

In [72]:
# Check the first few values and their type
print("First few values:")
print(house_df['BEDROOMS'].head())
print("\nData type:", house_df['BEDROOMS'].dtype)

# Check if there's a space in the column name
print("\nExact column names:")
print([col for col in house_df.columns if 'BEDROOM' in col])

First few values:
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: BEDROOMS, dtype: float64

Data type: float64

Exact column names:
['BEDROOMS ', 'BEDROOMS']

In [73]:
# If 'BEDROOMS ' has a space at the end (I noticed this in your earlier output)
# Let's try to properly access it
house_df['BEDROOMS'] = house_df['BEDROOMS '].copy()  # Note the space after BEDROOMS

# Now try creating the 10 missing values again
missingRows = house_df.sample(10).index
house_df.loc[missingRows, 'BEDROOMS'] = np.nan

# Check missing values
print("\nNumber of missing values:", house_df['BEDROOMS'].isna().sum())

Number of missing values: 10

In [74]:
# First, let's remove the duplicate empty column
house_df = house_df.drop('BEDROOMS', axis=1)

# Then rename the column with the space to remove the space
house_df = house_df.rename(columns={'BEDROOMS ': 'BEDROOMS'})

# Now try creating the 10 missing values
missingRows = house_df.sample(10).index
house_df.loc[missingRows, 'BEDROOMS'] = np.nan

# Verify
print(house_df['BEDROOMS'].isna().sum())  # Should now show 10

10

In [75]:
house_df['BEDROOMS'].count()

5792

In [76]:
reduced_df = house_df.dropna() # This removed the values with NA

In [77]:
print("Number of rows after removing the NA Values: ", len(reduced_df))

Number of rows after removing the NA Values:  5792

In [79]:
# Now replacing the missing values with the median 

medianValue = house_df.BEDROOMS.median()
print(medianValue)

3.0

In [81]:
house_df.BEDROOMS = house_df.BEDROOMS.fillna(value = medianValue)

In [82]:
print(house_df.BEDROOMS.isna())

0       False
1       False
2       False
3       False
4       False
        ...
5797    False
5798    False
5799    False
5800    False
5801    False
Name: BEDROOMS, Length: 5802, dtype: bool

In [87]:
#This will count the values that are there in the 
print("Number of values with valid Bedroom values: ", house_df.BEDROOMS.count().sum())

Number of values with valid Bedroom values:  5802

In [94]:
print("Number of values that are unique: ", house_df.BEDROOMS.unique())

Number of values that are unique:  [3 4 5 2 1 6 7 9 8]

In [93]:
print("No of houses have each bedrooms : ", house_df.BEDROOMS.value_counts().sort_index())

No of houses have each bedrooms :  BEDROOMS
1      30
2     818
3    3242
4    1346
5     258
6      90
7      14
8       3
9       1
Name: count, dtype: int64

In [92]:
house_df = house_df.astype({'BEDROOMS' : 'int'})