In [4]:
import pandas as pd
import numpy as np
import matplotlib as ml
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [5]:
house_df = pd.read_csv("WestRoxbury.csv")

In [3]:
house_df.head()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,NaN
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,NaN
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,NaN
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,NaN

In [4]:
house_df.iloc[4][0:]

TOTAL VALUE     331.5
TAX              4170
LOT SQFT         5000
YR BUILT         1910
GROSS AREA       2370
LIVING AREA      1438
FLOORS            2.0
ROOMS               7
BEDROOMS            3
FULL BATH           2
HALF BATH           0
KITCHEN             1
FIREPLACE           0
REMODEL           NaN
Name: 4, dtype: object

In [5]:
house_df.describe()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE
count,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.000000,5802.00000,5802.000000
mean,392.685715,4939.485867,6278.083764,1936.744916,2924.842123,1657.065322,1.683730,6.994829,3.230093,1.296794,0.613926,1.01534,0.739917
std,99.177414,1247.649118,2669.707974,35.989910,883.984726,540.456726,0.444884,1.437657,0.846607,0.522040,0.533839,0.12291,0.565108
min,105.000000,1320.000000,997.000000,0.000000,821.000000,504.000000,1.000000,3.000000,1.000000,1.000000,0.000000,1.00000,0.000000
25%,325.125000,4089.500000,4772.000000,1920.000000,2347.000000,1308.000000,1.000000,6.000000,3.000000,1.000000,0.000000,1.00000,0.000000
50%,375.900000,4728.000000,5683.000000,1935.000000,2700.000000,1548.500000,2.000000,7.000000,3.000000,1.000000,1.000000,1.00000,1.000000
75%,438.775000,5519.500000,7022.250000,1955.000000,3239.000000,1873.750000,2.000000,8.000000,4.000000,2.000000,1.000000,1.00000,1.000000
max,1217.800000,15319.000000,46411.000000,2011.000000,8154.000000,5289.000000,3.000000,14.000000,9.000000,5.000000,3.000000,2.00000,4.000000

In [6]:
house_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802 entries, 0 to 5801
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TOTAL VALUE   5802 non-null   float64
 1   TAX           5802 non-null   int64
 2   LOT SQFT      5802 non-null   int64
 3   YR BUILT      5802 non-null   int64
 4   GROSS AREA    5802 non-null   int64
 5   LIVING AREA   5802 non-null   int64
 6   FLOORS        5802 non-null   float64
 7   ROOMS         5802 non-null   int64
 8   BEDROOMS      5802 non-null   int64
 9   FULL BATH     5802 non-null   int64
 10  HALF BATH     5802 non-null   int64
 11  KITCHEN       5802 non-null   int64
 12  FIREPLACE     5802 non-null   int64
 13  REMODEL       1456 non-null   object
dtypes: float64(2), int64(11), object(1)
memory usage: 634.7+ KB

In [11]:
total_mean = house_df['TAX'].mean()

In [12]:
print(total_mean)

4939.485866942434

In [14]:
total_rows = len(house_df["TAX"])
print(total_rows)

5802

In [15]:
house_df.shape

(5802, 14)

In [23]:
house_df.sample(5)

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
1947,448.8,5645,10585,1950,4770,1806,1.0,8,3,3,0,2,1,Old
936,351.4,4420,10690,1950,3539,1625,1.0,6,3,1,0,1,1,NaN
4243,478.9,6024,8528,1925,3630,2055,2.0,8,3,1,1,1,1,Old
3442,559.0,7032,5532,1892,4298,2525,2.5,9,5,4,1,1,1,Recent
2170,422.2,5311,6777,1890,3535,2053,2.5,7,3,1,1,1,1,NaN

In [20]:
weights = [0.9 if rooms > 10 else 0.01 for rooms in house_df.ROOMS] # This is craeting a list of weights

# This is a good practice to do in data mining as it will help 
#u to not miss any data that might be an outlier.
house_df.sample(5, weights = weights)

#This is used in order to get that data that is likely to cause the algo crash or might increase the error rate bcz these are kind of outliers 
#that are there in the data by doing this we are doing over/under sampling as this it will increase the chance (0.9 = 90%) of showing 
#of rooms with more than 10 rooms that might be omitted while training the data and can cause errors afterwards.

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
2696,285.7,3594,7475,1955,1882,861,1.0,6,3,1,1,1,0,NaN
4657,791.6,9958,7629,1890,6321,3521,2.0,12,6,4,1,1,2,Recent
3871,576.1,7247,6501,1920,5197,3636,3.0,12,4,3,1,2,1,Old
3318,775.5,9755,13750,1900,6633,3906,2.0,12,7,1,2,1,0,Recent
3182,718.2,9034,19180,1918,6565,3564,2.5,11,4,2,2,1,0,NaN

In [25]:
weights = [] # empty list

for rooms in house_df.ROOMS:
    if rooms > 10:
        weights.append(0.9)
    else:
        weights.append(0.01)


house_df.sample(5, weights = weights)

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
2494,660.0,8302,13650,1924,5192,2640,2.0,13,7,2,1,1,2,Recent
2909,730.1,9184,8631,1907,5722,3250,2.0,12,5,2,1,1,2,NaN
406,332.4,4181,7889,1960,3588,1939,1.5,8,4,2,0,1,1,NaN
4582,520.9,6552,8297,1880,3716,2344,2.0,7,4,1,0,1,1,NaN
4151,996.9,12541,10050,2006,5392,4375,2.0,11,4,4,0,1,1,NaN

In [52]:
house_df.columns

Index(['TOTAL VALUE ', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL _Recent'],
      dtype='object')

In [30]:
indexes = []

for i in house_df.head():
    indexes.append(house_df[i].dtype)

print(indexes)

#Can show all the indexes's dtype there.

[dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('O')]

In [19]:
# To convert a varibale into Categorical Variable
house_df.REMODEL = house_df.REMODEL.astype("category")
house_df.REMODEL.cat.categories

Index(['Old', 'Recent'], dtype='object')

In [39]:
house_df.REMODEL.dtype

CategoricalDtype(categories=['Old', 'Recent'], ordered=False, categories_dtype=object)

In [49]:
indexes = []

for i in house_df.head():
    indexes.append(house_df[i].dtype)

print(indexes)

[dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('bool')]

In [42]:
house_df = pd.get_dummies(house_df, prefix_sep=" _", drop_first= True)

In [50]:
house_df.columns

Index(['TOTAL VALUE ', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL _Recent'],
      dtype='object')

In [53]:
print(house_df['REMODEL _Recent'].unique())

[False  True]

In [55]:
house_df = house_df.rename(columns={"REMODEL _Recent" : "REMODEL_New"})

In [57]:
house_df = house_df.astype({'REMODEL_New': 'int'})

In [59]:
indexes = []

for i in house_df.head():
    indexes.append(house_df[i].dtype)

print(indexes)

[dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('int64')]

In [60]:
house_df.REMODEL_New

0       0
1       1
2       0
3       0
4       0
       ..
5797    1
5798    0
5799    0
5800    0
5801    0
Name: REMODEL_New, Length: 5802, dtype: int64

In [69]:
# TO FIND THE MISSING VALUES

missingRows = house_df.sample(10).index
house_df.loc[missingRows, "BEDROOMS"] = np.nan

print(house_df['BEDROOMS'].isna().sum())  # Should show 10 missing values

5802

In [67]:
print("the number of rows after removing rows with missing values after setting to NAN: ", house_df.BEDROOMS.count())

the number of rows after removing rows with missing values after setting to NAN:  0

In [68]:
# Remove rows with missing values 
reduced_df = house_df.dropna()
print("the number of rows after removing rows with missing values :", len(reduced_df))

the number of rows after removing rows with missing values : 0

In [70]:
# Check the data type of BEDROOMS column
print(house_df['BEDROOMS'].dtype)

# Look at the first few rows of just the BEDROOMS column
print(house_df['BEDROOMS'].head())

# Look at the unique values in BEDROOMS
print(house_df['BEDROOMS'].unique())

float64
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: BEDROOMS, dtype: float64
[nan]

In [71]:
import numpy as np

# Create 10 missing values
missingRows = house_df.sample(10).index
house_df.loc[missingRows, 'BEDROOMS'] = np.nan

# Verify the number of missing values
print(house_df['BEDROOMS'].isna().sum())  # Should now show 10

5802

In [72]:
# Check the first few values and their type
print("First few values:")
print(house_df['BEDROOMS'].head())
print("\nData type:", house_df['BEDROOMS'].dtype)

# Check if there's a space in the column name
print("\nExact column names:")
print([col for col in house_df.columns if 'BEDROOM' in col])

First few values:
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: BEDROOMS, dtype: float64

Data type: float64

Exact column names:
['BEDROOMS ', 'BEDROOMS']

In [73]:
# If 'BEDROOMS ' has a space at the end (I noticed this in your earlier output)
# Let's try to properly access it
house_df['BEDROOMS'] = house_df['BEDROOMS '].copy()  # Note the space after BEDROOMS

# Now try creating the 10 missing values again
missingRows = house_df.sample(10).index
house_df.loc[missingRows, 'BEDROOMS'] = np.nan

# Check missing values
print("\nNumber of missing values:", house_df['BEDROOMS'].isna().sum())

Number of missing values: 10

In [74]:
# First, let's remove the duplicate empty column
house_df = house_df.drop('BEDROOMS', axis=1)

# Then rename the column with the space to remove the space
house_df = house_df.rename(columns={'BEDROOMS ': 'BEDROOMS'})

# Now try creating the 10 missing values
missingRows = house_df.sample(10).index
house_df.loc[missingRows, 'BEDROOMS'] = np.nan

# Verify
print(house_df['BEDROOMS'].isna().sum())  # Should now show 10

10

In [75]:
house_df['BEDROOMS'].count()

5792

In [76]:
reduced_df = house_df.dropna() # This removed the values with NA

In [77]:
print("Number of rows after removing the NA Values: ", len(reduced_df))

Number of rows after removing the NA Values:  5792

In [79]:
# Now replacing the missing values with the median 

medianValue = house_df.BEDROOMS.median()
print(medianValue)

3.0

In [81]:
house_df.BEDROOMS = house_df.BEDROOMS.fillna(value = medianValue)

In [82]:
print(house_df.BEDROOMS.isna())

0       False
1       False
2       False
3       False
4       False
        ...
5797    False
5798    False
5799    False
5800    False
5801    False
Name: BEDROOMS, Length: 5802, dtype: bool

In [87]:
#This will count the values that are there in the 
print("Number of values with valid Bedroom values: ", house_df.BEDROOMS.count().sum())

Number of values with valid Bedroom values:  5802

In [94]:
print("Number of values that are unique: ", house_df.BEDROOMS.unique())

Number of values that are unique:  [3 4 5 2 1 6 7 9 8]

In [93]:
print("No of houses have each bedrooms : ", house_df.BEDROOMS.value_counts().sort_index())

No of houses have each bedrooms :  BEDROOMS
1      30
2     818
3    3242
4    1346
5     258
6      90
7      14
8       3
9       1
Name: count, dtype: int64

In [92]:
house_df = house_df.astype({'BEDROOMS' : 'int'})

In [97]:
# Normalising the dataset 

df_copy = house_df.copy()

#USING PANDAS:
norm_df = (house_df - house_df.mean())/house_df.std()

In [102]:
# Using scikit-learn:
scaler = StandardScaler()
norm1_df = pd.DataFrame(scaler.fit_transform(house_df), index = house_df.index, columns = house_df.columns)

In [103]:
print(norm_df)

      TOTAL VALUE        TAX  LOT SQFT   YR BUILT  GROSS AREA   LIVING AREA  \
0        -0.488879 -0.488507   1.381019 -1.576690    -0.552998    -0.564458
1         0.200795  0.200789   0.116835  0.229372     0.207196     0.590121
2        -0.631048 -0.631176   0.457697 -1.298834    -0.713635    -0.529303
3         1.067927  1.068020   2.807392  0.562799     2.383704     1.759502
4        -0.616932 -0.616749  -0.478735 -0.743123    -0.627660    -0.405334
...            ...       ...        ...       ...          ...          ...
5797      0.122148  0.122241   0.181262  0.034873    -0.374262     0.105345
5798      0.153405  0.153500   1.172381  0.368300    -0.577886    -0.599614
5799      0.139289  0.139073   0.344576  1.396366    -0.503224     0.031334
5800     -0.846823 -0.846781   0.229207  0.257158    -1.046220    -1.215759
5801      0.553697  0.553452   0.422487  0.368300    -0.469287    -0.105587

       FLOORS      ROOMS  BEDROOMS  FULL BATH  HALF BATH   KITCHEN  FIREPLACE  \
0     0.710905 -0.691980 -0.271039  -0.568528   0.723202 -0.124803  -1.309337
1     0.710905  2.090325  0.910454   1.347035   0.723202 -0.124803  -1.309337
2     0.710905  0.699173  0.910454  -0.568528   0.723202 -0.124803  -1.309337
3    -1.536872  1.394749  2.091948  -0.568528   0.723202 -0.124803   0.460235
4     0.710905  0.003597 -0.271039   1.347035  -1.150021 -0.124803  -1.309337
...        ...       ...       ...        ...        ...       ...        ...
5797  0.710905  1.394749 -0.271039   1.347035   0.723202 -0.124803   0.460235
5798  0.710905 -0.691980 -0.271039  -0.568528   0.723202 -0.124803   0.460235
5799  0.710905  0.003597 -0.271039  -0.568528   0.723202 -0.124803   0.460235
5800 -1.536872 -1.387556 -1.452532  -0.568528  -1.150021 -0.124803  -1.309337
5801  0.710905  0.003597 -0.271039  -0.568528   0.723202 -0.124803   0.460235

      REMODEL_New
0       -0.421381
1        2.372738
2       -0.421381
3       -0.421381
4       -0.421381
...           ...
5797     2.372738
5798    -0.421381
5799    -0.421381
5800    -0.421381
5801    -0.421381

[5802 rows x 14 columns]

In [104]:
# Rescaling a DataFrame 

norm_df = (house_df - house_df.min())/(house_df.max() - house_df.min())

In [105]:
print(norm_df)

      TOTAL VALUE        TAX  LOT SQFT   YR BUILT  GROSS AREA   LIVING AREA  \
0         0.214953  0.215015   0.197472  0.934858     0.220237     0.177220
1         0.276420  0.276448   0.123156  0.967181     0.311878     0.307628
2         0.202283  0.202300   0.143194  0.939831     0.200873     0.181191
3         0.353702  0.353740   0.281323  0.973148     0.574253     0.439707
4         0.203541  0.203586   0.088145  0.949776     0.211237     0.195193
...            ...       ...        ...       ...          ...          ...
5797      0.269410  0.269448   0.126943  0.963700     0.241784     0.252874
5798      0.272196  0.272234   0.185207  0.969667     0.217237     0.173250
5799      0.270938  0.270948   0.136544  0.988066     0.226238     0.244514
5800      0.183052  0.183085   0.129762  0.967678     0.160780     0.103657
5801      0.307872  0.307879   0.141124  0.969667     0.230329     0.229049

      FLOORS      ROOMS  BEDROOMS  FULL BATH  HALF BATH  KITCHEN  FIREPLACE  \
0         0.5  0.272727     0.250       0.00   0.333333      0.0       0.00
1         0.5  0.636364     0.375       0.25   0.333333      0.0       0.00
2         0.5  0.454545     0.375       0.00   0.333333      0.0       0.00
3         0.0  0.545455     0.500       0.00   0.333333      0.0       0.25
4         0.5  0.363636     0.250       0.25   0.000000      0.0       0.00
...       ...       ...       ...        ...        ...      ...        ...
5797      0.5  0.545455     0.250       0.25   0.333333      0.0       0.25
5798      0.5  0.272727     0.250       0.00   0.333333      0.0       0.25
5799      0.5  0.363636     0.250       0.00   0.333333      0.0       0.25
5800      0.0  0.181818     0.125       0.00   0.000000      0.0       0.00
5801      0.5  0.363636     0.250       0.00   0.333333      0.0       0.25

      REMODEL_New
0             0.0
1             1.0
2             0.0
3             0.0
4             0.0
...           ...
5797          1.0
5798          0.0
5799          0.0
5800          0.0
5801          0.0

[5802 rows x 14 columns]

In [ ]:
# thus Normalizing is done to bring dataset on the similar scale

In [ ]:
# formula is - [dataframe - dataframe.mean()]/dataframe.std()

In [ ]:
# and Rescaling is also done to bring dataset on the same scale i.e, of [0,1]

In [ ]:
# formula is - [dataframe - dataframe.min()]/[dataframe.max() - dataframe.min()]

In [ ]:
# Data Partioning

In [6]:
trainData, validData = train_test_split(house_df, test_size=0.40, random_state=1)
print("Training :", trainData.shape)
print("Validation :", validData.shape)

# in this example 40% of the data will go to the Validation (as Valid data is the last variable while assigning) and
#60% will go to the Training

Training : (3481, 14)
Validation : (2321, 14)

In [7]:
validData1, trainData1 = train_test_split(house_df, test_size=0.40, random_state=1)
print("Training :", trainData1.shape)
print("Validation :", validData1.shape)

#Now I switched the position that makes the result different and now its reveresed

Training : (2321, 14)
Validation : (3481, 14)

In [117]:
trainData, temp = train_test_split(house_df, test_size = 0.50, random_state = 1)
validData, testData = train_test_split(temp, test_size = 0.40, random_state = 1)

print("Training   :", trainData.shape)
print("Validation :", validData.shape)
print("Testing    :", testData.shape)
print("Total Size :", len(house_df))

# This means trainData got 50% and temp initially got 50%
# Then the data in temp is divided further in valid data and test data 
# Valid data : 60% of tempdata (50% of the total data)
# Test Data : 40% of the remaining temp data.

Training   : (2901, 14)
Validation : (1740, 14)
Testing    : (1161, 14)
Total Size : 5802

In [8]:
from sklearn.linear_model import LinearRegression

In [ ]:
# Data Loading and Preprocessing

In [9]:
df = pd.read_csv("WestRoxbury.csv")
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5802 entries, 0 to 5801
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TOTAL VALUE   5802 non-null   float64
 1   TAX           5802 non-null   int64
 2   LOT SQFT      5802 non-null   int64
 3   YR BUILT      5802 non-null   int64
 4   GROSS AREA    5802 non-null   int64
 5   LIVING AREA   5802 non-null   int64
 6   FLOORS        5802 non-null   float64
 7   ROOMS         5802 non-null   int64
 8   BEDROOMS      5802 non-null   int64
 9   FULL BATH     5802 non-null   int64
 10  HALF BATH     5802 non-null   int64
 11  KITCHEN       5802 non-null   int64
 12  FIREPLACE     5802 non-null   int64
 13  REMODEL       1456 non-null   object
dtypes: float64(2), int64(11), object(1)
memory usage: 634.7+ KB

In [10]:
df.columns = [s.strip().replace('','_') for s in df.columns]
df = pd.get_dummies(df, prefix_sep='_', drop_first = True)

In [11]:
#Create list of predictors and outcomes

In [12]:
excludeColumns = ('TOTAL_VALUE', 'TAX')
predictors = [s for s in df.columns if s not in excludeColumns]
outcome = "TOTAL_VALUE"

In [13]:
#Partition data

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Read and prepare data
df = pd.read_csv("WestRoxbury.csv")

# Clean column names - note that replace('','_') won't do anything since it's replacing empty string
# You might want to replace spaces instead:
df.columns = [s.strip().replace(' ','_') for s in df.columns]

# Create dummy variables
df = pd.get_dummies(df, prefix_sep='_', drop_first=True)

# Define features and target
excludeColumns = ('TOTAL_VALUE', 'TAX')
predictors = [s for s in df.columns if s not in excludeColumns]
outcome = "TOTAL_VALUE"

# Split features and target
X = df[predictors]
y = df[outcome]

# Split data - note the typo in random_state
train_x, valid_x, train_y, valid_y = train_test_split(X, y, test_size=0.4, random_state=1)

# Train model
model = LinearRegression()
model.fit(train_x, train_y)

# Make predictions and create results DataFrame
train_pred = model.predict(train_x)
train_results = pd.DataFrame({
    "TOTAL_VALUE": train_y, 
    'predicted': train_pred, 
    'residual': train_y - train_pred
})

train_results.head()

      TOTAL_VALUE   predicted   residual
2024        392.0  388.204648   3.795352
5140        476.3  430.707903  45.592097
5259        367.4  384.572908 -17.172908
421         350.3  369.819105 -19.519105
1401        348.1  310.493153  37.606847

In [15]:
#Predictions for a sample of validation data

In [20]:
valid_pred = model.predict(valid_x)
valid_results = pd.DataFrame({
    'TOTAL_VALUE' : valid_y,
    'predicted' : valid_pred,
    'residual' : valid_y - valid_pred
})

valid_results.head()

      TOTAL_VALUE   predicted   residual
1822        462.0  407.428545  54.571455
1998        370.4  363.418289   6.981711
5126        407.4  390.743753  16.656247
808         316.1  383.045464 -66.945464
4034        393.2  434.999519 -41.799519

In [21]:
from dmba import regressionSummary

# Create predictions for validation set first
valid_pred = model.predict(valid_x)

# Create validation results DataFrame
valid_results = pd.DataFrame({
    "TOTAL_VALUE": valid_y,
    'predicted': valid_pred,
    'residual': valid_y - valid_pred
})

# Now print summaries for both sets
print("Training Set")
regressionSummary(train_results.TOTAL_VALUE, train_results.predicted)
print("\nValidation Set")
regressionSummary(valid_results.TOTAL_VALUE, valid_results.predicted)

Training Set

Regression statistics

                      Mean Error (ME) : -0.0000
       Root Mean Squared Error (RMSE) : 43.0511
            Mean Absolute Error (MAE) : 32.6190
          Mean Percentage Error (MPE) : -1.1127
Mean Absolute Percentage Error (MAPE) : 8.4921

Validation Set

Regression statistics

                      Mean Error (ME) : -0.0996
       Root Mean Squared Error (RMSE) : 42.7372
            Mean Absolute Error (MAE) : 31.9495
          Mean Percentage Error (MPE) : -1.0815
Mean Absolute Percentage Error (MAPE) : 8.3228